@font-face {
    font-family: "AnonimousPro";
    src: url("assets/fonts/AnonymousPro-Bold.ttf");
    font-weight: 300;
}
@font-face {
    font-family: "AnonimousPro";
    src: url("assets/fonts/AnonymousPro-Regular.ttf");
    font-weight: 100;
}
* {
    box-sizing: border-box;
  }
body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-width: 320px;
    min-height: 100vh;
    margin: 0;
    padding: 0;
    font-family: "AnonimousPro";
}
header {
    border: 1px solid red;
    height: 80px;
}
.container {
    max-width: 1440px;
    margin: 0 auto;
}
img {
    width: 80px;
    border-radius: 50%;
}


 

