* {
    box-sizing: border-box;
  }
html {
    scroll-behavior: smooth;
  }
body {
    font-family: Oswald;
    background-color: #222222;
    color: #222222;
    margin: 0;
}
h1 {
    font-family: Oswald;
    font-weight: 300;
    font-size: 116px;
    line-height: 132px;
    letter-spacing: 0;
    text-transform: uppercase;
    margin-top: 39px;
    margin-bottom: 21px;
}
h2 {
    font-weight: 400;
    font-size: 32px;
    line-height: 40px;
    letter-spacing: 0;
    text-transform: uppercase;
    margin: 0;
}
body {
    font-family: Oswald;
    font-weight: 400;
    font-size: 20px;
    line-height: 28px;
    letter-spacing: 0;
    text-transform: uppercase;
}
body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-width: 320px;
    min-height: 100vh;
    margin: 0;
    padding: 0;
    font-family: "AnonimousPro";
    background-image: linear-gradient(to top left, aqua, white)
}
body a {
    color: black;
    text-decoration: none;
}
a:hover {
    color: gray;
}
header {
    position: fixed;
    border: 1px solid #a3ffff;
    height: 50px;
    width: 100%;
    background-color: white;
}
#contacts #profile-image {
    height: 150px;
    width: auto;
}
.container {
    max-width: 1440px;
    margin: 0 auto;
}
.container .section {
    padding: 50px 20px 0 20px;
}
.container #contacts {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.container #contacts ul li {
    list-style-type: none;
}
.container #contacts #profile {
    display: flex;
    align-items: center;
}
.container #contacts .title {
    margin-left: 30px;
}
.container #contacts .title .section-title {
    margin-bottom: -10px;
}
.nav-list {
    display: flex;
    justify-content:center;
    align-items: center;
    list-style: none;
    padding: 0 20px;
    line-height: 10px;
    gap: 70px;
    font-size: 20px;
    transition: 0.3s;
}
#profile img {
    width: 150px;
    border-radius: 50%;
}
footer {
    text-align: center;
    padding: 20px;
}
.footer-container {
    display: flex;
    justify-content: center;
    align-items: center;
}
.footer-container a {
    padding-left: 10px;
}
.footer-container img {
    width: 50px;
}